<%- include ('../../partials/header.ejs') %>

<%- include ('../../partials/navbar.ejs') %>
<!-- MODELO DE CRUD -->

<div class="page-content p-5" id="content">

    <div class="container">
    <hr>
    <h2>Clientes</h2>

    <a href="/admin/clients/new" class="btn btn-primary">Cadastrar novo cliente</a>
    <hr>

    <table class="table"> <!--Class para table do bootstrap-->
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% clients.forEach(clients =>{ %> <!--VAI PREENHCER A TABELA COM OS DADOS DO DB-->
                <tr>
                    <th><%= clients.id %></th>
                    <th><%= clients.name %></th>
                    <th><%= clients.age %></th>
                    <th><%= clients.cpf %></th>
                    <th><%= clients.adress %></th>
                    <th><%= clients.phone %></th>

                    <th>


                        <a href="/admin/clients/edit/<%= clients.id %>" class="btn btn-success">Editar</a>

                        <form method="post" action="/clients/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= clients.id %>">
                            <button class="btn btn-success">Deletar</button>
                        </form>                        
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</div>


<%- include ('../../partials/footer.ejs') %>
<script>
 
    function confirmDelete(event, form){ //event é basicamente o ato de apertar o botão
        event.preventDefault(); // preventDefault() = vai impedir  formulario de ser submetido
        var decision = confirm("Você quer deletar essa categoria?");
        if(decision){
            form.submit(); // se apertar ok vai apagar o conteúdo
        }
    }

</script>